.blob-code-inner
{
	.invisible
	{
		position: relative;

		&:before
		{
			position: absolute;
			top: 0;
			left: 50%;

			transform: translate(-50%, -2.75px);

			color: #bbb;
		}
	}

	.invisible__tab:before
	{
		content: '\2192';
	}

	.invisible__space:before
	{
		content: '\22C5';
	}

	/* 1st character row is for +/- on Github, so don't show symbol there. */
	& > :first-child > .invisible:first-child:before
	{
		content: ' ';
	}
}
