.diff-table .blob-code-inner
{
	._visualizeWS
	{
		position: relative;
	}

	._visualizeWS:before
	{
		position: absolute;
		top: 0;
		left: 50%;

		transform: translate(-50%, -2.75px);

		color: #bbb;
	}

	._visualizeWS-tab:before
	{
		content: '\2192';
	}

	._visualizeWS-space:before
	{
		content: '\22C5';
	}

	& > span:first-child > ._visualizeWS-space:first-child:before
	{
		content: ' ';
	}
}
